div.fixed {
    position: fixed;
    top: 0%;
    right: 80%;
    width: 200px;
    height: 110px;
   
}

#about{

	background: url(../img/Roast_457899.jpg) 50% 0 fixed; 
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 200px 0;
}

#localizacion{

	background: url(../img/Meat_products_Roast_463428.jpg) 100% 0 fixed; 
    height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 200px 0;
}

#mapa1{
    width:100%;
   height:450px;
}
#mapa2{
    width:100%;
    height:450px;
}

@media screen and (max-width: 767px) {
  .kb-carousel{
    
    padding-top: 65px;
  }
}
@media screen and (min-width: 768px) {
  .kb-carousel{
    
    padding-top: 110px;
  

}